<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD MAPPER 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="reserve">

	<!-- 로그인 고객 정보 가져오기 -->
	<select id="customerInfo" parameterType="String" resultType="CustomerInfo"> 
		<![CDATA[
		SELECT firstname, lastname, cmail
		FROM customer
		WHERE cid=#{cid}
		]]>
	</select>

	<!-- 예약번호 생성: 해당날짜 마지막 예약번호 가져오기 -->
	<!--  ALTER SESSION SET nls_date_format = 'YYYY/MM/DD'; 체크-->
	<select id="createRid" parameterType="CreateRid" resultType="String">
		<![CDATA[
		WITH lastRid AS (
  			SELECT CASE WHEN COUNT(rid) > 0 THEN MAX(rid) ELSE '00000000000_0' END AS max_rid
  			FROM reserve
  			WHERE country=#{country} AND rdate=#{rdate}
		)
		SELECT #{country} || SUBSTR(#{rdate}, 1, 4) || 
			   SUBSTR(#{rdate}, 6, 2) || SUBSTR(#{rdate}, 9, 2) || 
			   '_' || TO_CHAR(TO_NUMBER(SUBSTR(max_rid, 13)) + 1) AS rid
		FROM lastRid
		]]>
	</select>

	<!-- 예약 작성 정보 집어넣기 -->
	<insert id="reserveInfo" parameterType="Reserve" >
		<![CDATA[
   		INSERT INTO reserve (rid, rdate, firstname, lastname, email, country,
       					    request, checkIn, checkOut, person, cancel, pid, cid, tcode) 
   		VALUES (#{rid}, TO_DATE(#{rdate}, 'YYYY-MM-DD'), #{firstname}, #{lastname}, 
   				#{email}, #{country}, #{request}, TO_DATE(#{checkIn}, 'YYYY-MM-DD'), 
   				TO_DATE(#{checkOut}, 'YYYY-MM-DD'), #{person},
        		#{cancel}, #{pid}, #{cid}, #{tcode})
  		]]>
	</insert>

	<!-- 예약건수번호 생성: 해당날짜 마지막 예약번호 가져오기 -->
	<select id="createRsvno" parameterType="String" resultType="String">
		<![CDATA[
		WITH lastRsvno AS (
  			SELECT CASE WHEN COUNT(rsvno) > 0 THEN MAX(rsvno) ELSE '00000000_0' END AS max_rsvno
  			FROM rsvno
  			WHERE chargedate=#{chargedate}
		)
		SELECT SUBSTR(#{rdate}, 1, 4) || 
			   SUBSTR(#{rdate}, 6, 2) || SUBSTR(#{rdate}, 9, 2) || 
			   '_' || TO_CHAR(TO_NUMBER(SUBSTR(max_rsvno, 10)) + 1) AS rsvno
		FROM lastRsvno
		]]>
	</select>
	
	<!-- 예약 건수 정보 집어넣기 -->
	<insert id="rsvnoInfo" parameterType="Rsvno" >
		<![CDATA[
   		INSERT INTO rsvno (rsvno, cid, rid, chargedate) 
   		VALUES ( #{rsvno}, #{cid}, #{rid}, TO_DATE(#{chargedate}, 'YYYY-MM-DD') )
  		]]>
	</insert>

	<!-- 고객:내 예약정보 조회 -->
	<select id="myReservation" parameterType="String" resultType="MyReserve"> 
		<![CDATA[
		SELECT DISTINCT r.rid rid, h.hname hname, d.exp exp, d.bedtype bedtype, 
						r.person person, r.rdate rdate, r.cancel cancel , r.pid pid, p.price price
		FROM reserve r, stock s, type t, tdetails d, hotel h, pay p
		WHERE r.cid=#{cid} AND r.cancel='N' AND r.tcode=s.tcode AND 
		 	  s.tcode=t.tcode AND t.tcode=d.tcode AND t.hid=h.hid AND p.pid=r.pid
		ORDER BY r.rdate DESC
		]]>
	</select>
	
	<!-- 업체:고객아이디로 예약검색 -->
	<select id="bookByCustomer" parameterType="String" resultType="Reserve"> 
		<![CDATA[
		SELECT rid, rdate, firstname, lastname, email, country, request, 
		  	   checkIn, checkOut, person, cancel, pid, cid, tcode  
		FROM reserve
		WHERE cid=#{cid} AND cancel='N'
		]]>
	</select>
	 
	<!-- 업체:예약아이디로 예약검색 -->
	<select id="bookById" parameterType="String" resultType="Reserve"> 
		<![CDATA[
		SELECT rid, rdate, firstname, lastname, email, country, request, 
			   checkIn, checkOut, person, cancel, pid, cid, tcode  
		FROM reserve
		WHERE rid=#{rid} AND cancel='N'
		]]>
	</select>
	
	<!-- 업체:년월일 날짜로 예약검색 -->
	<select id="bookByDate" parameterType="String" resultType="Reserve"> 
		<![CDATA[
		SELECT rid, rdate, firstname, lastname, email, country, request, 
			   checkIn, checkOut, person, cancel, pid, cid, tcode  
		FROM reserve
		WHERE rdate=TO_DATE(#{rdate}, 'YYYY-MM-DD') AND cancel='N'
	]]>
	</select>
	
	<!-- 업체:년월 날짜로 예약검색 -->
	<select id="bookByMonth" parameterType="String" resultType="Reserve"> 
		<![CDATA[
		SELECT rid, rdate, firstname, lastname, email, country, request, 
			   checkIn, checkOut, person, cancel, pid, cid, tcode  
		FROM reserve
		WHERE rdate BETWEEN #{rdate} AND ADD_MONTHS(#{rdate}, 1) AND cancel='N'
		MINUS
		SELECT rid, rdate, firstname, lastname, email, country, request, 
			   checkIn, checkOut, person, cancel, pid, cid, tcode  
		FROM reserve
		WHERE rdate=ADD_MONTHS(#{rdate}, 1) AND cancel='N'
	]]>
	</select>
	
	<!-- 예약취소 시 필요정보 가져오기 -->
	<select id="cancelData" parameterType="String" resultType="Stock">
		<![CDATA[ 
	 	SELECT tcode, checkIn, checkOut
	 	FROM reserve
	 	WHERE rid=#{rid}
		]]>
	</select >
	
	<!-- 예약취소 시 예약내역 변경 -->
	<update id="cancel" parameterType="String">
		<![CDATA[ 
		UPDATE reserve SET cancel='Y' WHERE rid=#{rid}
		]]>
	</update>
	
	<!-- 예약취소 시 예약건수 정보 삭제 -->
	<delete id="deleteRsvno" parameterType="String">
		<![CDATA[ 
		DELETE FROM rsvno WHERE rid=#{rid}
		]]>
	</delete>
	 
</mapper>